email="<account_mail_Atlassian>"
api_token="<token>"
base_url="https://<dominio>.atlassian.net"

PERMISSION_SCHEME_ID=<scheme_id>
WORKFLOW_SCHEME_ID=<scheme_id>
FIELD_CONFIG_SCHEME_ID=<scheme_id>
ISSUE_TYPE_SCREEN_SCHEME_ID0=<scheme_id>
NOTIFICATION_SCHEME_ID=<scheme_id>
SCREEN_SCHEME_ID=<scheme_id>
ISSUE_TYPE_SCHEME_ID=<scheme_id>